/coffee_data0.csv
/coffee_data1.csv
/coffee_data10.csv
/coffee_data11.csv
/coffee_data12.csv
/coffee_data13.csv
/coffee_data14.csv
/coffee_data15.csv
/coffee_data16.csv
/coffee_data17.csv
/coffee_data18.csv
/coffee_data19.csv
/coffee_data2.csv
/coffee_data20.csv
/coffee_data21.csv
/coffee_data22.csv
/coffee_data23.csv
/coffee_data24.csv
/coffee_data25.csv
/coffee_data26.csv
/coffee_data27.csv
/coffee_data28.csv
/coffee_data29.csv
/coffee_data3.csv
/coffee_data30.csv
/coffee_data31.csv
/coffee_data32.csv
/coffee_data33.csv
/coffee_data34.csv
/coffee_data35.csv
/coffee_data36.csv
/coffee_data37.csv
/coffee_data38.csv
/coffee_data39.csv
/coffee_data4.csv
/coffee_data40.csv
/coffee_data41.csv
/coffee_data42.csv
/coffee_data43.csv
/coffee_data44.csv
/coffee_data45.csv
/coffee_data46.csv
/coffee_data47.csv
/coffee_data48.csv
/coffee_data49.csv
/coffee_data5.csv
/coffee_data50.csv
/coffee_data51.csv
/coffee_data52.csv
/coffee_data53.csv
/coffee_data54.csv
/coffee_data55.csv
/coffee_data56.csv
/coffee_data57.csv
/coffee_data58.csv
/coffee_data59.csv
/coffee_data6.csv
/coffee_data60.csv
/coffee_data61.csv
/coffee_data62.csv
/coffee_data63.csv
/coffee_data64.csv
/coffee_data65.csv
/coffee_data66.csv
/coffee_data67.csv
/coffee_data68.csv
/coffee_data69.csv
/coffee_data7.csv
/coffee_data70.csv
/coffee_data71.csv
/coffee_data72.csv
/coffee_data73.csv
/coffee_data74.csv
/coffee_data75.csv
/coffee_data76.csv
/coffee_data77.csv
/coffee_data78.csv
/coffee_data79.csv
/coffee_data8.csv
/coffee_data80.csv
/coffee_data81.csv
/coffee_data82.csv
/coffee_data83.csv
/coffee_data84.csv
/coffee_data85.csv
/coffee_data86.csv
/coffee_data87.csv
/coffee_data88.csv
/coffee_data89.csv
/coffee_data9.csv
/coffee_data90.csv
/coffee_data91.csv
/coffee_data92.csv
/coffee_data93.csv
/coffee_data94.csv
/coffee_data95.csv
/coffee_data96.csv
/coffee_data97.csv
/coffee_data98.csv
/coffee_data99.csv
