:root {
    --md-primary-fg-color: #005b7f;
    --md-primary-fg-color--light: #368aac;
    --md-primary-fg-color--dark: #005b7f;
}


.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 2.4rem;
    width: 2.4rem;
}
