name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:
    types: [checks_requested]

jobs:
  check:
    name: Checks
    runs-on:
      - self-hosted
      - itl
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          prune-cache: false
          cache-local-path: "${{ runner.workspace }}/.cache/uv"

      - name: Set up just
        uses: extractions/setup-just@v3

      - name: Run checks
        run: just check

  tests:
    name: Tests
    runs-on:
      - self-hosted
      - itl
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          prune-cache: false
          cache-local-path: "${{ runner.workspace }}/.cache/uv"

      - name: Set up just
        uses: extractions/setup-just@v3

      - name: Run tests
        run: just test

  docs:
    name: Documentation
    runs-on:
      - self-hosted
      - itl
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          prune-cache: false
          cache-local-path: "${{ runner.workspace }}/.cache/uv"

      - name: Set up just
        uses: extractions/setup-just@v3

      - name: Build docs
        run: just docs

  examples:
    name: Examples
    strategy:
      matrix:
        example: ["boiler", "linear_data", "one_tank", "energy_system", "xor"]
    runs-on:
      - self-hosted
      - itl
    env:
      CUDA_VISIBLE_DEVICES: ""
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          prune-cache: false
          cache-local-path: "${{ runner.workspace }}/.cache/uv"

      - name: Set up just
        uses: extractions/setup-just@v3

      - name: Set up DVC
        run: |
          uv run dvc --version
          uv run dvc config cache.dir ${{ runner.workspace }}/.cache/dvc

      - name: DVC pull
        run: |
          uv run dvc pull --verbose --recursive examples/${{ matrix.example }}

      - name: Run Example [${{ matrix.example }}]
        run: |
          just examples-${{ matrix.example }}
